numpy==1.16.1
future==0.17.1
mock==3.0.5
h5py==2.9.0
keras_preprocessing==1.0.5
keras_applications==1.0.8
gast==0.2.2
futures
protobuf
pybind11
matplotlib==2.2.5
termcolor
astor==0.8.1
backports.weakref~=1.0rc1
absl-py~=0.4
opencv-python
pyyaml